node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
.env
.idea

venv
env
site
__pycache__/

## Ignore pyenv configuration
.python-version

## Ignore ephemeral doc-tool output

output.csv
_doctools/*.csv
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
